<footer class="bcl-footer bcl-footer--ec">
  <div class="container">
    <div class="pt-4 pt-lg-5 row">
      <div class="col-12 col-lg-4">
        <p class="fw-bold mb-2">[Project name]</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Duis fermentum facilisis ex, ac porta massa.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
          Duis fermentum facilisis ex, ac porta massa.
        </p>
      </div>
      <div class="col-12 col-lg-4 pb-4 pb-lg-0">
        <p class="fw-bold border-bottom pb-2 mb-2">Contact [project name]</p>
        <p>Contact information of the DG</p>
        <p class="fw-bold border-bottom pb-2 mt-3 mb-2">Follow us on social media</p>
        <div class="mb-1"><a class="standalone" href="/example.html#7en9m"><svg class="me-2-5 bi icon--xs"><use xlink:href="/themes/custom/bcl_canvas/assets/bcl/icons/bcl-default-icons.svg#facebook"></use></svg>Facebook</a></div>
        <div class="mb-1"><a class="standalone" href="/example.html#ufhx2"><svg class="me-2-5 bi icon--xs"><use xlink:href="/themes/custom/bcl_canvas/assets/bcl/icons/bcl-default-icons.svg#twitter"></use></svg>Twitter</a></div>
        <div class="mb-1"><a class="standalone" href="/example.html#ogx3b"><svg class="me-2-5 bi icon--xs"><use xlink:href="/themes/custom/bcl_canvas/assets/bcl/icons/bcl-default-icons.svg#linkedin"></use></svg>Linkedin</a></div>
      </div>
      <div class="col-12 col-lg-4">
        <p class="fw-bold border-bottom pb-2 mb-2">About us</p>
        <p>Information about the DG</p>
        <p class="fw-bold border-bottom pb-2 mb-2">Optional links</p>
        <div class="mb-1"><a class="standalone" href="/example.html#6zyrk">Link</a></div>
        <div class="mb-1"><a class="standalone" href="/example.html#f7lht">Link</a></div>
        <div class="mb-1"><a class="standalone" href="/example.html#fzw71">Link</a></div>
        <div class="mb-1"><a class="standalone" href="/example.html#tp701">Link</a></div>
      </div>
    </div>

    <div class="pb-4 pb-lg-5 mt-4 mt-lg-5 bcl-footer__bordered-row row">
      <div class="col-12 col-lg-4">
        <p class="fw-bold pb-2 mb-2">More information on:</p>
        <div class="mb-1"><a class="standalone" href="/example.html#rzun3">Link</a></div>
        <div class="mb-1"><a class="standalone" href="/example.html#te2q6">Link</a></div>
        <div class="mb-1"><a class="standalone" href="/example.html#78of2">Link</a></div>
        <div class="mb-1"><a class="standalone" href="/example.html#vl4z6">Link</a></div>
      </div>
    </div>

    <div class="pb-4 pb-lg-5 bcl-footer__bordered-row row">
      <div class="col-12 col-lg-4 pb-lg-4">
        <p class="fw-bold pb-2 mb-2">European Commission</p>
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-1"><a class="standalone" href="/example.html#irqme">European Commission</a></div>
        <div class="mb-1"><a class="standalone" href="/example.html#eyits">Follow the EC on social media<svg class="ms-2 ms-2-5 bi icon--xs"><use xlink:href="/themes/custom/bcl_canvas/assets/bcl/icons/bcl-default-icons.svg#box-arrow-up-right"></use></svg></a></div>
        <div class="mb-1"><a class="standalone" href="/example.html#8m62j">Resources for partners</a></div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-1"><a class="standalone" href="/example.html#53t86">Language policy</a></div>
        <div class="mb-1"><a class="standalone" href="/example.html#q4vom">Cookies</a></div>
        <div class="mb-1"><a class="standalone" href="/example.html#4qjc0">Privacy policy</a></div>
        <div class="mb-1"><a class="standalone" href="/example.html#m30ja">Legal notice</a></div>
      </div>
    </div>
  </div>
</footer>
