{% for _variant in ['default', 'ongoing', 'cancelled', 'past'] %}
  <h2 class="ecl-u-type-heading-2">
    Variant: {{ _variant|render }}
  </h2>
  {% include 'oe_theme:date_block' with {
    variant: _variant,
    date: {
      start: '370173600',
      end: null,
      timezone: 'Europe/Brussels',
    },
  } only %}
  <hr class="ecl-separator ecl-u-mt-l">
{% endfor %}
