<header class="bcl-header bcl-header--ec shadow-sm" data-header-offset-initialized="true" style="--oel-mega-menu-offset-top: 0px;">
  <nav class="w-100 bcl-header__top-navbar navbar navbar-expand-lg navbar-light" aria-label="Top Navigation">
    <div class="container">
      <a class="navbar-brand" href="/example.html#evgoo">
        <img src="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v3.0.2/ec/images/logo/logo-ec--en.svg" alt="european commission logo">
      </a>
      <button aria-label="Main navigation toggle" class="bcl-navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false">
        <svg class="default-icon bi icon--fluid"><use xlink:href="/themes/custom/bcl_canvas/assets/bcl/icons/bcl-default-icons.svg#list"></use></svg>
        <svg class="active-icon bi icon--fluid"><use xlink:href="/themes/custom/bcl_canvas/assets/bcl/icons/bcl-default-icons.svg#x"></use></svg>
      </button>
    </div>
  </nav>

  <!-- site name -->
  <div class="bcl-header__site-name" id="site-name-heading">
    <div class="container">
      <span class="h5 py-3-5 border-top-subtle mb-0 d-block">Project name</span>
    </div>
  </div>

  <!-- navbar -->
  <nav class="bcl-header__navbar collapse navbar-collapse navbar navbar-expand-lg navbar-dark" id="header-navbar" aria-label="Main Navigation">
    <div class="container">
      <ul class="me-auto navbar-nav">
        <li class="nav-item">
          <div class="bcl-mega-menu">
            <button class="dropdown-toggle nav-link" aria-expanded="false" aria-haspopup="menu" aria-controls="mega-menu-dropdown-megamenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="dropdown-megamenu" type="button">
              A link with dropdown
            </button>
            <nav id="mega-menu-dropdown-megamenu" class="bcl-mega-menu__container dropdown-menu" aria-labelledby="dropdown-megamenu" aria-label="Main mega menu">
              <div class="container">
                <div class="container d-lg-none bcl-mega-menu__back-button-block">
                  <button class="back-button btn btn-link btn-md" aria-label="Back to main menu" type="button">
                    <svg class="me-2-5 bi icon--fluid"><use xlink:href="/themes/custom/bcl_canvas/assets/bcl/icons/bcl-default-icons.svg#arrow-left"></use></svg>
                    Back
                  </button>
                </div>
                <div class="position-relative">
                  <div class="row">
                    <div class="col-md-12 col-xl-3 position-relative bcl-mega-menu__info">
                      <div class="content-block">
                        <h4>About the European Commission</h4>
                        <p>Description text, lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p class="m-0">
                          <a class="content-link" href="/example.html#jq7dt">
                            Discover more
                            <svg class="ms-2-5 bi icon--s"><use xlink:href="/themes/custom/bcl_canvas/assets/bcl/icons/bcl-default-icons.svg#arrow-right"></use></svg>
                          </a>
                        </p>
                      </div>
                      <div class="shadow-container"><span class="shadow-bg"></span></div>
                    </div>

                    <div class="col-md-12 col-lg-4 col-xl-3 bcl-mega-menu__menu">
                      <div class="__submenu_body">
                        <ul class="bcl-mega-menu__items __level-1">
                          <li class="__parent">
                            <button class="active" id="custom-trigger-mm-1" aria-controls="mm-panel-custom-trigger-mm-1" aria-expanded="false" aria-haspopup="menu" type="button">
                              Base Category Item
                            </button>
                            <div id="mm-panel-custom-trigger-mm-1" hidden role="group" aria-labelledby="custom-trigger-mm-1" class="bcl-mega-menu__submenu __level-2">
                              <div class="__header"><p class="__label">Base Category Item</p></div>
                              <div class="__submenu_body">
                                <ul class="bcl-mega-menu__items __level-2">
                                  <li class="__leaf"><a class="active" href="/example.html#sko33">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#3wvua">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#st4zm">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#wj1k6">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#tpt0k">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#7d8ch">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#h1fgs">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#s6bx6">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#e6bap">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#ye8r1">Base Sub Category Item</a></li>
                                </ul>
                                <div class="__see_all">
                                  <a class="see-all-button" aria-label="See all items in ‘Base Category Item’" href="/example.html#32ce1">
                                    <span>See all</span>
                                    <svg class="ms-2-5 bi icon--xs"><use xlink:href="/themes/custom/bcl_canvas/assets/bcl/icons/bcl-default-icons.svg#arrow-right"></use></svg>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </li>

                          <li class="__leaf"><span>Base Category Item</span></li>

                          <li class="__parent">
                            <button id="custom-trigger-mm-2" aria-controls="mm-panel-custom-trigger-mm-2" aria-expanded="false" aria-haspopup="menu" type="button">
                              Base Category Item
                            </button>
                            <div id="mm-panel-custom-trigger-mm-2" hidden role="group" aria-labelledby="custom-trigger-mm-2" class="bcl-mega-menu__submenu __level-2">
                              <div class="__header"><p class="__label">Base Category Item</p></div>
                              <div class="__submenu_body">
                                <ul class="bcl-mega-menu__items __level-2">
                                  <li class="__leaf"><a href="/example.html#1w87m">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#iafhf">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#ubpd8">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#6ur2k">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#l1qlw">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#xy0fi">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#he8bs">Base Sub Category Item</a></li>
                                  <li class="__leaf"><a href="/example.html#7xgcz">Base Sub Category Item</a></li>
                                </ul>
                              </div>
                            </div>
                          </li>

                          <li class="__leaf"><a href="/example.html#owbws">Base Category Item</a></li>
                          <li class="__leaf"><a href="/example.html#3clb7">Base Category Item</a></li>
                          <li class="__leaf"><a href="/example.html#a71ao">Base Category Item</a></li>
                          <li class="__leaf"><a href="/example.html#u954x">Base Category Item</a></li>
                          <li class="__leaf"><a href="/example.html#j2j2q">Base Category Item</a></li>
                          <li class="__leaf"><a href="/example.html#in3ai">Base Category Item</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </li>

        <li class="nav-item"><a aria-current="page" class="nav-link active" href="/example.html#1yic2">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/example.html#qju9f">Item 01</a></li>
        <li class="nav-item"><a class="nav-link" href="/example.html#tgvre">Item 02</a></li>

        <li class="nav-item dropdown">
          <button class="dropdown-toggle btn btn-primary btn-md" aria-expanded="false" data-bs-toggle="dropdown" id="navbarDropdownMenuLink" autocomplete="off" type="button">
            Dropdown link
          </button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/example.html#ehk7e">Action</a></li>
            <li><a class="dropdown-item" href="/example.html#a4n0l">Another action</a></li>
            <li><a class="dropdown-item" href="/example.html#w8aqz">Something else here</a></li>
            <li><a class="dropdown-item" href="/example.html#p3pz7">Very long label with custom text and custom link as an example</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" href="/example.html#s63vh">Item 04</a></li>
        <li class="nav-item"><a class="nav-link" href="/example.html#cs8cy">Item 05</a></li>
        <li class="nav-item"><a class="nav-link" href="/example.html#6pnue">Item 06</a></li>
        <li class="nav-item"><a class="nav-link" href="/example.html#vaou1">Item 07</a></li>
      </ul>
    </div>
  </nav>
</header>
