<div class="bcl-fixed-content-banner pb-md-4-75 pb-4 pt-4 pt-md-4-75 bg-lighter">
  <div class="container">
    <article class="bg-transparent border-0 card">
      <div class="row">
        <div class="bcl-card-start-col">
          <img src="https://picsum.photos/255/255?random=6" alt="alt img" class="card-img-top rounded-1">
        </div>
        <div class="col-md col-lg-9 col-xxl-8">
          <div class="card-body pt-4 pt-md-0 px-0 px-md-1-5 pb-0">
            <h1 class="fs-1 card-title bcl-heading">This is the title of this page</h1>
            <div class="my-3">
              <span class="text-muted me-3">17 October 2019</span>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Duis fermentum facilisis ex, ac porta massa.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
              Duis fermentum facilisis ex, ac porta massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Duis fermentum facilisis ex, ac porta massa. <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Duis fermentum facilisis ex, ac porta massa.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> <br>
              Duis fermentum facilisis ex, ac porta massa.
            </p>
            <div class="mt-2-5">
              <span class="mb-2 me-2 badge rounded-pill badge-outline-primary">Category 1</span>
              <span class="mb-2 badge rounded-pill badge-outline-primary">Category 2</span>
            </div>
          </div>
        </div>
      </div>
    </article>
    <div class="d-flex justify-content-end mt-2 align-items-center">
      <button class="w-auto me-3 btn btn-outline-primary btn-md" type="button">
        Print
        <svg class="ms-2-5 bi icon--fluid"><use xlink:href="/themes/custom/bcl_canvas/assets/bcl/icons/bcl-default-icons.svg#printer-fill"></use></svg>
      </button>
      <button class="w-auto btn btn-outline-primary btn-md" type="button">
        Export
        <svg class="ms-2-5 bi icon--fluid"><use xlink:href="/themes/custom/bcl_canvas/assets/bcl/icons/bcl-default-icons.svg#file-arrow-down-fill"></use></svg>
      </button>
    </div>
  </div>
</div>
